<div align="center">

<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table align="center">
<col width ="120">
  <col width ="90">
    <col width="50">
	   <col width = "50">
  <thead>
    <tr>
      <th><font color="green">Title</font></th>
      <th><font color="green">Body</font></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody bgcolor="#808080">
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
